* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #023047;
  color: #fff;
}

.container {
  padding: 10px 10%;
}

h1 {
  background-color: #fb8500;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2 {
  width: 20rem;
  height: 10rem;
  margin: 30px auto;
  text-align: center;
  padding: 0.5em;
}

p {
  text-align: center;
}

.text-class {
  background-color: #808080;
  color: #fff;
}

.descrb {
  color: #b86200;
}
